<header>
  <nav>
    <h1 routerLink="/dashboard">Xplora Tours</h1>
    <menu>
      <button *ngIf="!isLoggedIn" routerLink="/login">Login</button>
      <button *ngIf="!isLoggedIn" routerLink="/register">Sign Up</button>
      <button *ngIf="isLoggedIn" routerLink="events">Events</button>
      <button *ngIf="isLoggedIn" routerLink="users">Users</button>
      <button *ngIf="isLoggedIn" routerLink="profile">Profile</button>
      <button *ngIf="isLoggedIn" (click)="logout()">Logout</button>
    </menu>
  </nav>
</header>
