table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

button {
  font-size: 1rem;
  background-color: #071952;
  color: white;
  border-radius: 0.5rem;
  padding: 0.4rem 1rem;
  margin: 0.2rem;
}
